PORT=4000 

MONGO_URI=URL

FRONTEND_URL_USER=https://hospital-managament-system-tawny.vercel.app/

FRONTEND_URL_ADMIN=https://hospital-managament-system-2g5e.vercel.app/login

JWT_SECRET_KEY=YourJWTKEy

JWT_EXPIRES=7d

COOKIE_EXPIRE=7

CLOUDINARY_CLOUD_NAME = YourCloudName

CLOUDINARY_API_SECRET =YourSecretKey
CLOUDINARY_API_KEY = YourAPIKey

