PORT=4000 

MONGO_URI=URL

FRONTEND_URL_USER=url

FRONTEND_URL_ADMIN=url

JWT_SECRET_KEY=YourJWTKEy

JWT_EXPIRES=7d

COOKIE_EXPIRE=7

CLOUDINARY_CLOUD_NAME = YourCloudName

CLOUDINARY_API_SECRET =YourSecretKey
CLOUDINARY_API_KEY = YourAPIKey

